# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
# remove espaçoes em branco desnecessários
trim_trailing_whitespace = true
# garante que o arquivo termine com uma nova linha
insert_final_newline = true
